#menu {
    margin-left: -250px; /* "#menu" width */
    width: 250px;
    position: fixed;
    color: white;
    height: 100%;
    top: 0;
}

#menu a {
    color: inherit;
    text-decoration: none;
}

#menu .content {
    margin: 1em;
    padding: 2em;
    text-align: center;
    background: #3c6eb4;
    color: white;
}

#menu .pure-menu-selected .content {
    background: white !important;
    color: #3c6eb4;
}

/* -- Responsive Styles (Media Queries) ------------------------------------- */

/*
Hides the menu at `48em`, but modify this based on your app's needs.
*/
@media (min-width: 48em) {
    #layout {
        padding-left: 250px; /* left col width "#menu" */
    }
}

@media (max-width: 48em) {
    /* Only apply this when the window is small. Otherwise, the following
    case results in extra padding on the left:
        * Make the window small.
        * Tap the menu to trigger the active state.
        * Make the window large again.
    */
    #layout.active {
       /* position: relative; */
        left: 150px;
    }
}
