#layout {
/*    position: relative;*/
}

#content {
    margin: 1em;
}

.index-entry {
}

    .index-entry a {
        color:inherit;
        text-decoration: none;
    }

    .index-entry .content {
        border: solid black 1px;
        margin: 1em;
        padding: 2em;
        height: 100px;
        text-align: center;
        background: #3c6eb4; /* fedora blue */
        color: white;
    }

