<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf8" />
    <title>MUFFIN - {{ hx(page["title"]) }}</title>
    <meta name="description" content="{{ hx(page.get("description", "a poole site")) }}" />
    <meta name="keywords" content="{{ hx(page.get("keywords", "poole")) }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
    <!--<![endif]-->
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <div id="layout">
        <div id="content">
            {{ __content__ }}
            <div class="pure-g">
            <!--%
                mpages = [p for p in pages if "menu-position" in p]
                mpages.sort(key=lambda p: int(p["menu-position"]))
                entry = '''<div class="%(index-style)s %(id)s index-entry">
                           <div class="content" style="background:%(color1)s">
                           <a href="%(url)s">%(title)s</a>
                           </div></div>'''
                for p in mpages:
                    print(entry%p)
            %-->
            </div>
        </div>
    </div>
</body>
</html>
