<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf8" />
    <title>MUFFIN - {{ hx(page["title"]) }}</title>
    <meta name="description" content="{{ hx(page.get("description", "a poole site")) }}" />
    <meta name="keywords" content="{{ hx(page.get("keywords", "poole")) }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
    <!--<![endif]-->
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="menu.css" />
    <!--%
        if 'css-url' in page:
            print('<link rel="stylesheet" href="/%s" />'%page['css-url'])
    %-->
</head>
<body>
    <div id="layout">
        <div id="menu">
            <div class="pure-menu">
                <ul class="pure-menu-list">
                    <li class="pure-menu-item"><div class="content">
                        <a href="index.html">Index</a>
                    </content></li>
                    <!--%
                        mpages = [p for p in pages if "menu-position" in p]
                        mpages.sort(key=lambda p: int(p["menu-position"]))
                        entry = '''<li class="pure-menu-item %(style)s %(id)s">
                                   <div class="content" style="background:%(color1)s">
                                   <a href="%(url)s">%(title)s</a>
                                   </div></li>'''
                        for p in mpages:
                            style = "pure-menu-selected" if p["title"] == page["title"] else ""
                            print(entry % dict(list(p.items()) +[('style', style)]))
                    %-->
                </ul>
            </div>
        </div>

        <div id="content">
            <h1>{{ hx(page["title"]) }}</h1>
            {{ __content__ }}
        </div>
    </div>

</body>
</html>
